body {
  font-family: "Noto Sans KR", serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.headWrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  margin: 20px auto; 
  max-width: 90%;
  min-width: 280px;
}

.container,
.code-output {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  margin-right: 5px;
  flex: 1;
  min-width: 280px;
}

.container {
  max-width: 45%;
}

.code-output,
.curl-output,
.res-output {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 8px;
  width: 100%;
  overflow: auto;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

input,
select {
  width: calc(60% - 16px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ff6114;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #ff6114;
  border-radius: 12px;
  text-align: center;
  line-height: 1.4;
}

button:hover {
  background-color: #ff4b14;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 공통 스타일 */
.CodeMirror {
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif !important; /* 폰트 설정 */
  font-size: 14px; /* 원하는 폰트 크기 설정 */
  line-height: 1.5;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.CodeMirror-lines {
  line-height: 1.5;
}

/* 테마 설정 (예: dracula 테마의 배경색과 글자색을 CSS로 변경) */
.CodeMirror-dracula {
  background-color: #282a36;
  color: #f8f8f2;
}

.CodeMirror-linenumber {
  color: #8d8f9e; /* 라인 번호 색상 */
}

/* 스크롤바 스타일 */
.CodeMirror-scroll {
  scrollbar-color: #8d8f9e #282a36; /* 스크롤바 색상 */
  scrollbar-width: thin; /* 스크롤바의 두께 */
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
}

.label-select-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

select {
  margin-top: 5px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: transparent; 
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block; 
  text-decoration: none;
  color: #ff6114;
  
  padding:10px; 
}

.sidebar a:hover {
  background-color: rgba(255,97,20,0.2); 
  border-radius: 5px;
}

.content {
  margin-left:240px; 
  padding:20px;
}
