/* 기본 스타일 */
body {
  font-family: "Noto Sans KR", serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* 제목 스타일 */
h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* 사이드바 스타일 */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  text-decoration: none;
  color: #ff6114;
  padding:10px;
  border-radius:5px;
}

.sidebar a:hover {
  background-color: rgba(255,97,20,0.2);
}

/* 콘텐츠 공통 스타일 (사이드바 너비 고려) */
.content,
.headWrapper,
.wrapper {
  margin-left:240px; /* sidebar 너비(200px) + 좌우 패딩(20px*2) 고려한 여백 */
  padding:20px;
}

/* Flexbox 레이아웃 설정 */
.wrapper, .headWrapper {
  display:flex;
  justify-content:center; 
  flex-direction:column;
  flex-wrap:wrap;
}

/* 공통 박스 스타일 */
.container,
.code-output,
.curl-output,
.res-output,
.headWrapper {
  background:#fff;
  border-radius:8px;
  box-shadow:0px 4px 6px rgba(0,0,0,0.1);
}

/* 개별 요소 추가 스타일링 */
h1 {
  font-size:24px;
  text-align:center;
}

label {
  font-weight:bold;
}

input,
select {
  width: calc(60% -16px);
  padding:8px;
  margin-top:5px;
  border-radius:5px;
}

button {
  width:100%;
  padding:10px;
  background-color:#ff6114;
  color:white;
  border:none;
  border-radius:5px;
}

button:hover {
 background-color:#ff4b14; 
}

.badge {
 display:inline-block; 
 padding:5px10px; 
 font-size:12px; 
 color:white; 
 background-color:#ff6114; 
 border-radius:12px; 
 line-height:1.4; 
}

pre {
 white-space:pre-wrap; 
 word-wrap:break-word; 
}

.CodeMirror {
 height:100%; 
 font-family:'Noto Sans KR',sans-serif!important; 
 font-size:14px; 
 line-height:1.5; 
 border-radius:8px; 
 box-shadow:0px4px6px rgba(0,0,0,0.1); 
 margin-bottom:10px; 
}

.error-message {
 color:red; 
 font-size:12px; 
 display:none; 
}
